.player1View {
    display: grid;
    grid-template-columns: 1fr;
    border: 3px solid green;
    margin-bottom: 50px;
}

.player2View {
    display: grid;
    grid-template-columns: 1fr;
    border: 3px solid blue;
}

.gameGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.gameGrid div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    min-height: 50px;
    background-color: rgb(135, 206, 235);
}

.gameGrid div:hover {
    opacity: 0.6;
}

.switchPlayerModal[open]::backdrop {
    animation: fadein 1.5s ease-in forwards;
}
  
@keyframes fadein{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
      background-color: black;
    }
}

